version: "3.8"

services:
  app:
    build: ./app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - MONGO_URL=mongodb://db:27017

  db:
    image: mongo
    ports:
      - "27017:27017"
